<h1><%= @merchant.name %> Discounts </h1>

<% @merchant.bulk_discounts.each do |bd| %>
  <%= link_to "#{bd.percent_discount}", merchant_bulk_discounts_path(@merchant, bd.id) %>
  <%= bd.quantity_threshold %>
  <br>
<% end %>
