<% @merchant.items.each do |item| %>
  <%= link_to item.name, merchant_item_path(@merchant.id,item.id) %>
<% end %>

<% @merchant.top_5.each do |item| %>
  <div id="top-5-<%= item.id  %>">
    <%= link_to item.name, merchant_item_path(@merchant.id,item.id) %>
  </div>
<% end %>
